 <h1>Update Assignment</h1>

 <%= form_for @assignment do |f| %>
            
    <%= f.label :title, 'Assignment Name:' %>
     <%= f.text_field :title %><br>   
          <%= f.fields_for :subject, @assignment.build_subject do |sub_obj| %>
          <%= sub_obj.label :name, 'Subject:' %>
          <%= sub_obj.text_field :name %>
      <% end %>
<hr>
     <%= f.label :date, 'Assignment Due Date:'  %>
     <%= f.date_field :date %> <br><br>

    <%= f.label :question, 'Questions/Comments:'  %>
     <%= f.text_area :question %> <br><br>

     <%= f.label :completed, 'Did you complete Assignment?:'  %> 
     <%= f.check_box:completed %><br>
     <%= f.submit 'Update Assignment' %><br>
<% end %>
 

<hr>
