 <h1> Assignment list </h1>

            <% @assignments.each do |assignment| %>
            <h4> Student: <%= link_to assignment.student.name, students_path %> |  Grade: <%= assignment.student.grade %></h4>
    <ol>
        <li> Name of Assignment: <%=  assignment.title  %> |  Due Date: <%= assignment.date %></li>
        <li> Subject: <%= assignment.subject %></li>
        <li> Question/Comments: <%= assignment.question %></li>
    </ol>
        <hr>
    <% end %>
