<!DOCTYPE html>
<html>
  <head>
    <title>MyHomeroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
  <nav>
    <%=link_to "Create Assignment", new_assignment_path %> | 
    <%=link_to "Homepage", root_path %>  | 
    <%=link_to "Homeroom", assignments_path(@assignment) %> 

    </nav>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
